.newProduct{
    flex: 4;
    
}

.addProductTitle{
    margin-top: 10px;
}
.productFormItem{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.productFormItem>label{
    color:gray;
    font-weight: 600;
    margin-bottom: 10px;
}
.productFormItem>input{
padding: 10px;

}
.productFormItem>select{
    padding: 10px;
}

.addProductionButton{
    margin-top: 20px;
    padding: 7px 10px;
    border:none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600px;
    cursor: pointer;
    width: 100px;

}